@font-face {
  font-family: 'Raleway';
  src: url("../stylesheets/light.ttf") format("truetype");
  src: url("../stylesheets/regular.ttf") format("truetype");
}


.nav-row{
  height:60px;
  margin-left:50px;

}
.nav-container{
  width:100%;
}
.nav-footer{
  margin-left: 60px;
}
.content-container{

}

.footer-container{
  background-color: #fff !important;
  border-top-style:  solid;
  border-color: #e7e7e7;
  position: absolute;
  bottom: 0;

}

.repair{
  height:200px;
  width:200px;
}

.content{

  text-align: center;
  margin-top:8%;
}
#address, #email{
  font-size: 15px;
}

.header{
    text-align: center;
}
.description{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width:500px;
    font-size: 20px;
}

p .description{
  font-size: 50px;
}
.name{
  text-align: center;
  margin-top: 10px;
}
.projects, .blog, .contact{
  margin-top: 20px;
}
.projects{
  right:30px;
}
#name{
  font-size:30px;
}
#projects{

}



html, body{

    height:100%;
}
body{
    font-family: 'Raleway' !important;
}
.nav-button{
    border-color: #337ab7 !important;
    color: #000 !important;
    background-color: #fff !important;

}



.footer-container{
    background-color: #003459;
    width:100%;

}
.nav-container, html{
  background-color: #fff;
  border-bottom-style:  solid;
  border-color: #e7e7e7;
}

#projects, #blog, #contact{
  margin-top:12px;
}

.nav-row-border{
  margin-top:24px;
  background-color: #4C5C68;
  z-index:20;
  height: 20px;
}